<section class="companies">
  <div class="container">
    <h2>TRABALHAMOS COM GRANDES MARCAS</h2>
    <div class="row">
      <div class="grid-4">
        <a href="https://atelie.software/" title="Ateliê de Software">
          <img src="{{ site.baseurl }}/assets/images/logo-caterpila.jpg" alt="Saiba o que você pode construir no seu terreno.">
        </a>
      </div>
      <div class="grid-4">
        <a href="http://www.webgoal.com.br/" title="Webgoal">
          <img src="{{ site.baseurl }}/assets/images/logo-volvo.jpg" alt="Saiba o que você pode construir no seu terreno.">
        </a>
      </div>
      <div class="grid-4">
        <a href="http://www.granatum.com.br/financeiro/" title="Granatum - Controle Financeiro Online">
          <img src="{{ site.baseurl }}/assets/images/logo-michigan.jpg" alt="Saiba o que você pode construir no seu terreno.">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="grid-4">
        <a href="https://www.facebook.com/passopretobrewing/" title="Passopreto TapHouse"></a>
        <img src="{{ site.baseurl }}/assets/images/logo-terex.jpg" alt="Saiba o que você pode construir no seu terreno.">
      </div>
      <div class="grid-4">
        <img src="{{ site.baseurl }}/assets/images/logo-clark.jpg" alt="Saiba o que você pode construir no seu terreno.">
      </div>
      <div class="grid-4">
        <a href="http://www.turistando.art.br/" title="Turistando">
          <img src="{{ site.baseurl }}/assets/images/logo-hyster.jpg" alt="Saiba o que você pode construir no seu terreno.">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="grid-4">
        <a href="https://www.facebook.com/passopretobrewing/" title="Passopreto TapHouse"></a>
        <img src="{{ site.baseurl }}/assets/images/logo-parker.jpg" alt="Saiba o que você pode construir no seu terreno.">
      </div>
      <div class="grid-4">
        <img src="{{ site.baseurl }}/assets/images/logo-fiat.jpg" alt="Saiba o que você pode construir no seu terreno.">
      </div>
      <div class="grid-4">
        <a href="http://www.turistando.art.br/" title="Turistando">
          <img src="{{ site.baseurl }}/assets/images/logo-komatsu.jpg" alt="Saiba o que você pode construir no seu terreno.">
        </a>
      </div>
    </div>
  </div>
</section>
