<section class="construction">
  <div class="container">
    <div class="row">
      <div class="grid-6">
        <h2>Saiba o que você pode construir no seu terreno</h2>
        <p>Basta informar o seu endereço e dizemos o que você pode construir no seu terreno, de acordo com a legislação atualizada de Poços de Caldas.</p>
      </div>
      <div class="grid-6">
        <img src="{{ site.baseurl }}/assets/images/construction.svg" alt="Saiba o que você pode construir no seu terreno.">
      </div>
    </div>
  </div>
</section>
