<section class="docs">
  <div class="container">
    <div class="row">
      <div class="grid-6">
        <h2>Reunimos toda legislação urbanística</h2>
        <p>Organizamos toda aquela papelada que você precisa consultar e que leva um “tempão” do seu dia. Agora a legislação urbanística do município está reunida por tema. Lindo isso!</p>
      </div>
      <div class="grid-6">
        <img src="{{ site.baseurl }}/assets/images/docs.svg" alt="Saiba o que você pode construir no seu terreno." />
      </div>
    </div>
  </div>
</section>