<section class="services">
  <div class="container">
    <h2>NOSSOS SERVIÇOS</h2>

    <div class="row">
      <div class="grid-12">
        <h3>Manutenção dos Sistemas Hidráulicos</h3>
        <p>O perfeito desempenho dos componentes hidráulicos depende de uma eficiente manutenção. Hidráulicos merecem mais atenção. Mão-de-obra especializada e rapidez são cada vez mais necessárias na hora do reparo. Obedecendo todas as orientações de medidas originais de cada componente e fabricantes para devolvê-lo no estado e garantia de um novo.
Na execução desse serviço, o conjunto hidráulico é completamente desmontado e avaliado. No orçamento, os critérios, definidos pela fábrica, asseguram confiabilidade, preços econômicos e garantia.</p>
      </div>
      <div class="grid-12">
        <img src="{{ site.baseurl }}/assets/images/figura1.jpg" alt="Saiba o que você pode construir no seu terreno.">
        <img src="{{ site.baseurl }}/assets/images/figura2.jpg" alt="Saiba o que você pode construir no seu terreno.">
        <img src="{{ site.baseurl }}/assets/images/figura3.jpg" alt="Saiba o que você pode construir no seu terreno.">
        <img src="{{ site.baseurl }}/assets/images/figura4.jpg" alt="Saiba o que você pode construir no seu terreno.">
      </div>
    </div>
  </div>
</section>
