<section class="why">
  <div class="container">
    <div class="row">
      <div class="grid-12">
        <h2>Como são feitos nossos serviços</h2>
      </div>
      <div class="grid-4">
        <img src="{{ site.baseurl }}/assets/images/analise-do-problema.jpg" alt="Experiência mágica para os clientes" height="150">
        <h3>Análise do problema</h3>
      </div>
      <div class="grid-4">
        <img src="{{ site.baseurl }}/assets/images/fazemos-orcamento.jpg" alt="Informações analíticas" height="150">
        <h3>Fazemos o orçamento</h3>
      </div>
      <div class="grid-4">
        <img src="{{ site.baseurl }}/assets/images/realizamos-manutencao.jpg" alt="Gestão inteligente e enxuta" height="150">
        <h3>Realizamos a manutenção</h3>
      </div>
    </div>
    <div class="row">
      <div class="grid-12">
        <a class="btn btn-arround btn-large" href="">Veja como são feitos os nossos serviços</a>
      </div>
    </div>
  </div>
</section>
