.hero {
  background: #121c36;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, black 0%, rgba(244, 208, 16, 0.7) 100%), url(images/background-hero.jpg) no-repeat;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, black 0%, rgba(244, 208, 16, 0.7) 100%), url(images/background-hero.jpg) no-repeat;
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, black 0%, rgba(244, 208, 16, 0.7) 100%), url(images/background-hero.jpg) no-repeat;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121C36', endColorstr='#A0FFED',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  min-height: 75vh;
  padding: 200px 0 0 0; }
  @media only screen and (max-width: 550px) {
    .hero {
      display: block;
      min-height: 80vh;
      padding: 160px 0 0 0; } }
  .hero p {
    font-size: 1.6em;
    margin: 0 0 40px 0; }
    .hero p span {
      display: block;
      font-size: 1.4em;
      margin-top: 20px; }
    @media only screen and (max-width: 550px) {
      .hero p {
        margin: 40px 0 40px 0; } }
  .hero a, .hero p {
    color: white; }

.services {
  padding: 0 0 80px 0;
  text-align: center; }
  .services h2 {
    color: #121C36;
    margin: 100px 0 40px 0;
    text-transform: uppercase; }
  .services p {
    color: gray; }
  .services img {
    margin-bottom: 40px; }

.why {
  padding: 0 0 80px 0;
  text-align: center; }
  .why h2 {
    color: #121C36;
    margin: 0px 0 60px 0;
    text-transform: uppercase; }
  .why h3 {
    text-transform: uppercase; }
  .why p {
    color: gray; }

.companies {
  padding: 0 0 80px 0;
  text-align: center; }
  .companies h2 {
    color: #121C36;
    margin: 40px 0 100px 0;
    text-transform: uppercase; }
  .companies p {
    color: gray; }
  .companies img {
    margin-bottom: 80px; }

.cnae {
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: center;
  min-height: 80vh;
  overflow: auto; }
  .cnae h2 {
    margin: 40px 0 40px 0; }
  .cnae h3 {
    margin: 40px 0; }
  .cnae h2, .cnae h3, .cnae p, .cnae a, .cnae address {
    color: white; }
  .cnae address {
    font-family: sans-serif;
    font-style: normal; }

footer {
  background: #464A4B;
  clear: both; }
  footer p {
    font-size: .8em; }
  footer h4, footer p {
    color: white;
    margin: 0; }
  footer h4 {
    margin: 20px 0 5px 0; }
  footer .icons {
    display: flex;
    justify-content: flex-end; }
    footer .icons a {
      display: block;
      margin: 30px 0 0 20px; }
  footer .license {
    align-items: flex-end;
    background: #CCC;
    clear: both;
    display: flex;
    height: 20px;
    overflow: auto;
    padding: 20px 0;
    width: 100%; }
    footer .license .grid-6 {
      margin: 0; }
    footer .license p {
      color: #464A4B; }
    footer .license .documents {
      align-items: center;
      display: flex;
      justify-content: flex-end; }
    footer .license a {
      color: #464A4B;
      display: inline-block;
      font-size: .835em;
      margin: 0 0 0 18px; }

.politica .header {
  height: 150px;
  background-color: #464A4B; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

header {
  position: absolute;
  top: 60px;
  width: 100%; }
  @media only screen and (max-width: 550px) {
    header {
      top: 40px; } }

.container {
  margin: 0 auto;
  width: 1004px; }

.navbar {
  display: flex; }

.row {
  box-sizing: border-box; }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

[class*="grid-"] {
  box-sizing: border-box;
  float: left;
  margin-bottom: 20px;
  padding: 0 16px; }

.grid-1 {
  width: 8.3333333333%; }

.grid-2 {
  width: 16.6666666667%; }

.grid-3 {
  width: 25%; }

.grid-4 {
  width: 33.3333333333%; }

.grid-5 {
  width: 41.6666666667%; }

.grid-6 {
  width: 50%; }

.grid-7 {
  width: 58.3333333333%; }

.grid-8 {
  width: 66.6666666667%; }

.grid-9 {
  width: 75%; }

.grid-10 {
  width: 83.3333333333%; }

.grid-11 {
  width: 91.6666666667%; }

.grid-12 {
  width: 100%; }

.navbar-mobile {
  display: none; }

@media only screen and (max-width: 550px) {
  .container {
    padding: 0 20px;
    width: auto; }

  [class*="grid-"] {
    box-sizing: border-box;
    float: none;
    margin-bottom: 0;
    padding: 0;
    width: 100%; } }
nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none; }
  nav ul li {
    margin: 0 10px;
    display: block; }
    nav ul li a {
      color: white;
      text-decoration: none; }
      nav ul li a:hover {
        color: #CCC; }

a.btn {
  background-color: #FCAF17;
  color: white;
  display: inline-block;
  margin-top: 40px;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none; }
  a.btn-arround {
    border-radius: 10px; }
    a.btn-arround-color {
      background: #0BC0F7;
      border: none;
      color: white; }
      a.btn-arround-color:hover {
        background: #01A0D0;
        color: white; }
  a.btn-large {
    font-size: 1.1em;
    padding: 20px 80px; }
    @media only screen and (max-width: 550px) {
      a.btn-large {
        display: block;
        padding: 20px 80px;
        width: auto; } }

@font-face {
  font-family: 'effrabold';
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/effra_bold-webfont.woff2") format("woff2"), url("./fonts/effra_bold-webfont.woff") format("woff"); }
@font-face {
  font-family: 'effraregular';
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/effra-regular-webfont.woff2") format("woff2"), url("./fonts/effra-regular-webfont.woff") format("woff"); }
@font-face {
  font-family: 'Effra-Light';
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Effra-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/Effra-Light.woff") format("woff"), url("./fonts/Effra-Light.ttf") format("truetype"), url("./fonts/Effra-Light.svg#Effra-Light") format("svg"); }
h1, h2 {
  font-family: 'Effra-Light'; }
  h1 span, h2 span {
    font-family: 'effrabold'; }

h3, h4, h5, h6 {
  font-family: 'effrabold'; }

p, a {
  font-family: 'effraregular'; }

h1 {
  font-size: 3.4em; }
  @media only screen and (max-width: 550px) {
    h1 {
      font-size: 2em; } }

h2 {
  color: #6B727B;
  font-size: 2em; }

p {
  color: #95989A;
  line-height: 26px; }

a:hover {
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
