@font-face {
    font-family: 'effrabold';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/effra_bold-webfont.woff2') format('woff2'),
         url('./fonts/effra_bold-webfont.woff') format('woff');

}

@font-face {
    font-family: 'effraregular';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/effra-regular-webfont.woff2') format('woff2'),
         url('./fonts/effra-regular-webfont.woff') format('woff');

}


@font-face {
  font-family: 'Effra-Light';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Effra-Light.eot?#iefix') format('embedded-opentype'),  url('./fonts/Effra-Light.woff') format('woff'), url('./fonts/Effra-Light.ttf')  format('truetype'), url('./fonts/Effra-Light.svg#Effra-Light') format('svg');
}

h1, h2{
  font-family: 'Effra-Light';
  span{
    font-family: 'effrabold';
  }
}

h3, h4, h5, h6{
  font-family: 'effrabold';
}

p, a{
  font-family: 'effraregular';
}

h1{
  font-size: 3.4em;
  @media only screen and (max-width: 550px) {
    font-size: 2em;

  }
}

h2{
  color: #6B727B;
  font-size: 2em;
}

p{
  color: #95989A;
  line-height: 26px;
}

a{
  &:hover{
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
}
