.cnae{
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: center;
  min-height: 80vh;
  overflow: auto;
  h2{
    margin: 40px 0 40px 0;
  }

  h3{
    margin: 40px 0;
  }

  h2, h3, p, a, address{
    color: white;
  }

  address{
    font-family: sans-serif;
    font-style: normal;
  }
}