$grid-gutter: 16px;
$grid-columns: 12;
$grid-max: 1004px;

[class*="grid-"]{
  box-sizing: border-box;
  float: left;
  margin-bottom: 20px;
  padding: 0 $grid-gutter;
}

@for $i from 1 through $grid-columns{
  .grid-#{$i}{
    width: 100% / $grid-columns * $i
  }
}

.navbar-mobile{
  display: none;
}


@media only screen and (max-width: 550px) {
  .container{
    padding: 0 20px;
    width: auto;
  }

  [class*="grid-"]{
    box-sizing: border-box;

    float: none;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
  }  
}
